@import "tailwindcss";

:root {
  --background: #f9fafb; /* Gris muy clarito, amigable a la vista */
  --foreground: #1f2937; /* Gris oscuro para lectura cómoda */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Borramos el @media (prefers-color-scheme: dark) para que nunca se ponga negro */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}